/*
 * cocktails.css
 * CSS style for cocktails pages
 * color scheme 3
 * background: green #00ff00
 * box color: pink #ff33cc
 * secondary: blue #66ffff
 *
 */
body {
	margin:0px;
	padding:0px;
	font-family:verdana, arial, helvetica, sans-serif;
	background-color: #00ff00;
	color: #000000;
	text-align: center;
	font-size: 30px;
}
#page {
	margin: 0 auto;
	width:850px;
	text-align: left;
}
#content-index { 
	margin: 0 0 0 0;
	font-size: 13px;
}
ul#content-index { 
	list-style-type: none;
	margin: 0 0 0 0; 
	padding: 0 0 0 0;
}
ul#content-index li { 
	display: inline; 
	margin: 0 0 0 0;
	padding: 0 10px 0 10px; 
	border-style: none solid none none;
	border-width: 0 1px 0 0;
}
ul#content-index li.last { border-style: none none none none; }
/* Opera 5 hack */
#main-content>p {margin:0px;}
#main-content>p+p {text-indent:30px;}
#page-header {
	margin:20px 0px 10px 0px;
	padding:17px 0px 0px 20px;
	/* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
	height:93px; /* 54px + 17px + 2px = 93px */
	border-style:solid;
	border-color:black;
	border-width:1px 0px; /* top and bottom borders: 1px; left and right borders: 0px */
	/*line-height:11px;*/
	background-color:#ff33cc;
	/* IE Hack */
	voice-family: "\"}\"";
	voice-family:inherit;
	height:74px; /* the correct height */
}
/* Opera 5 hack */
body>#page-header {height:74px;}
#main-content {
	margin:0px 210px 50px 10px;
	padding:10px;
	width: 500px;
}
h1,h2 { display: inline }
h1 { margin: 0 0 0 0; padding: 0 0 0 0; font-size: 35px; }
#item-title p {
	font-size: 12px;
	color: #ff33cc;
	background-color: #00ff00;
}
h2 { font-size: 25px; color: #ff33cc; background-color: #00ff00; }
.fade { font-size: 8px; }
.warning { color:red; } 
#praetorian { text-align: right; }
#praetorian a { cursor: default }	
h1 .fade { color: #00ff00; }
#ingredients, #preparation, #workspace, #blurb {
	background-image: url(/perso/kitchenbar/images/425frame_bottom.jpg);
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 425px;
	margin: 0 0 0 0;
	padding: 0 0 50px 0;
}
#blurb p, #prepbody, #ingrbody, #mainform {
	background-image: url(/perso/kitchenbar/images/425frame_middle.jpg);
	background-repeat: repeat-y;
	margin: 0 0 0 0;
	padding: 0 50px 5px 40px;
	font-size: 13px;
}
#preparation p, #ingredients ul, #mainform p, #mainform ul {
	margin-top: 0px;
	padding-top: 0px;
}


#detail-list {
	background-image: url(/perso/kitchenbar/images/425frame_bottom.jpg);
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 425px;
	margin: 0 0 0 0;
	padding: 0 0 50px 0;
}
#detail-list #listing {
	background-image: url(/perso/kitchenbar/images/425frame_middle.jpg);
	background-repeat: repeat-y;
	margin: 0 0 0 0;
	padding: 1px 0 1px 0;
}
#ingredients h3 { background-image: url(/perso/kitchenbar/images/425frame_ingredients.jpg); }
#preparation h3 { background-image: url(/perso/kitchenbar/images/425frame_preparation.jpg); }
#detail-list h3 { background-image: url(/perso/kitchenbar/images/425frame_list.jpg); }
#blurb h3       { background-image: url(/perso/kitchenbar/images/425frame_disclaimer.jpg); }
#workspace h3   { background-image: url(/perso/kitchenbar/images/425frame_top.jpg); }
#ingredients h3, #preparation h3, #detail-list h3, #blurb h3, #workspace h3 {
	background-position: top left;
	background-repeat: no-repeat;
	height: 55px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
h3 span { display: none;}
#aux-content {
	font-size: 11px;
	position: absolute;
	top: 130px;
	left: 600px;
	width:250px;
	padding: 0 0 20px; 0;
	background-image: url(/perso/kitchenbar/images/boxbutton_bottom.jpg);
	background-position: bottom left;
	background-repeat: no-repeat;
}
#aux-content td { font-size:10px; }
#aux-content td.head { text-align: right; }
#aux-content td.data { font-style: italic; } 
#aux-content p.msg { font-style: italic; }
#aux-content h1 { font-size: 12px; font-style: italic; font-weight: bold; }
#aux-content form { text-align: right; } 
#aux-content .current { color: red; }
#aux-content .current td.data { color: red; }
#aux-content h3 {
	background-image: url(/perso/kitchenbar/images/boxbutton_top.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	height: 20px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#aux-content p#item-blurb, #aux-content #form-status, #aux-content #recipedef {
	background-image: url(/perso/kitchenbar/images/boxbutton_middle.jpg);
	background-repeat: repeat-y;
	margin: 0 0 0 0;
	padding: 20px 30px 20px 30px;
	line-height: 18px;
}
#listing, #ingredients, #preparation, #workspace { font-size: 13px; line-height: 20px; }
#listing ul { 
	width: 150px; 
	float: left; 
	padding: 20px 0 0 40px; 
	margin: 0 0 0 0;
	list-style: none;
}
#listing li { margin: 0 0 0 0; padding: 0 0 0 0; }
#listing p { padding: 5px 0 0 50px; clear: both; }
#ingredients li { margin: 0 0 0 0; padding: 0 0 0 0; }
#page-nav { text-align: right; margin-right: 50px;}
/* #ingredients ul {
	background-image: url(/perso/kitchenbar/images/425frame_middle.jpg);
	background-repeat: repeat-y;
	margin-left: 0;
	padding-top: 10px;
	padding-left: 80px;
} */

/* Form Elements */

.textbox { background-color: #ffffcc; color: #000000; }
input.textbox:focus, textarea:focus, select.textbox:focus { background-color: #ffcccc; color: #000000; }
select.textbox  { background-color: #ffffcc; color: #000000; }
#blurb p { font-size: 12px; line-height: 25px; }