/*
 * cocktails_handhelds.css
 * CSS style for cocktails pages, overrides for handhelds
 * color scheme 2
 * background: green #00ff00
 * box color: BLUE #66ffff
 * secondary: pink #ff33cc
 *
 */

#page {
	/* Changed for Handheld: remove width declaration */
        width: auto;
        /* width:850px; */
}
#main-content {
	/* Changed for Handheld: remove width declaration */
        width: auto;
}
#cocktail-list, #recipe-list, #maintenance-list {
	/* Changed for Handheld: remove width declaration */
        width: auto;
}
#listing ul {
	width: auto;
	/* padding: 20px 0 0 40px; */
}
#page-nav {
    text-align: inherit;
    margin-right: 0;
    /*text-align: right;*/
    /*margin-right: 50px;*/
}

#praetorian { 
    /* Changed for Handheld: don't display praetorian at all */
    display: none;
}
#praetorian a { 
    /* Changed for Handheld: don't display praetorian at all */
    display: none;
}
#praetorian a img { 
    /* Changed for Handheld: don't display praetorian at all */
    display: none;
}
